<td><%= name %></td>
<td><%= contact %></td>
<td><%= phone %></td>
<td><%= email %></td>
<td><%= company %></td>

<td><a href="#/<%= id %>">Show</a></td>
<td><a href="#/<%= id %>/edit">Edit</a></td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>
