<h1>Edit client</h1>

<form id="edit-client" name="client">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="contact"> contact:</label>
    <input type="text" name="contact" id="contact" value="<%= contact %>" >
  </div>

  <div class="field">
    <label for="phone"> phone:</label>
    <input type="text" name="phone" id="phone" value="<%= phone %>" >
  </div>

  <div class="field">
    <label for="email"> email:</label>
    <input type="text" name="email" id="email" value="<%= email %>" >
  </div>

  <div class="field">
    <label for="company"> company:</label>
    <input type="text" name="company" id="company" value="<%= company %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Client" />
  </div>

</form>

<a href="#/index">Back</a>
