<td><%= name %></td>
<td><%= contact %></td>
<td><%= phone %></td>
<td><%= email %></td>
<td><%= website %></td>
<td><%= address_1 %></td>
<td><%= address_2 %></td>
<td><%= city %></td>
<td><%= province %></td>
<td><%= postal_code %></td>

<td><a href="#/<%= id %>">Show</a></td>
<td><a href="#/<%= id %>/edit">Edit</a></td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>
