<h1>New company</h1>

<form id="new-company" name="company">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="contact"> contact:</label>
    <input type="text" name="contact" id="contact" value="<%= contact %>" >
  </div>

  <div class="field">
    <label for="phone"> phone:</label>
    <input type="text" name="phone" id="phone" value="<%= phone %>" >
  </div>

  <div class="field">
    <label for="email"> email:</label>
    <input type="text" name="email" id="email" value="<%= email %>" >
  </div>

  <div class="field">
    <label for="website"> website:</label>
    <input type="text" name="website" id="website" value="<%= website %>" >
  </div>

  <div class="field">
    <label for="address_1"> address_1:</label>
    <input type="text" name="address_1" id="address_1" value="<%= address_1 %>" >
  </div>

  <div class="field">
    <label for="address_2"> address_2:</label>
    <input type="text" name="address_2" id="address_2" value="<%= address_2 %>" >
  </div>

  <div class="field">
    <label for="city"> city:</label>
    <input type="text" name="city" id="city" value="<%= city %>" >
  </div>

  <div class="field">
    <label for="province"> province:</label>
    <input type="text" name="province" id="province" value="<%= province %>" >
  </div>

  <div class="field">
    <label for="postal_code"> postal_code:</label>
    <input type="text" name="postal_code" id="postal_code" value="<%= postal_code %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Company" />
  </div>

</form>

<a href="#/index">Back</a>