<h1>Edit entry</h1>

<form id="edit-entry" name="entry">
  <div class="field">
    <label for="minutes"> minutes:</label>
    <input type="text" name="minutes" id="minutes" value="<%= minutes %>" >
  </div>

  <div class="field">
    <label for="rate"> rate:</label>
    <input type="text" name="rate" id="rate" value="<%= rate %>" >
  </div>

  <div class="field">
    <label for="client"> client:</label>
    <input type="text" name="client" id="client" value="<%= client %>" >
  </div>

  <div class="field">
    <label for="company"> company:</label>
    <input type="text" name="company" id="company" value="<%= company %>" >
  </div>

  <div class="field">
    <label for="employee"> employee:</label>
    <input type="text" name="employee" id="employee" value="<%= employee %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Entry" />
  </div>

</form>

<a href="#/index">Back</a>
