<td><%= minutes %></td>
<td><%= rate %></td>
<td><%= client %></td>
<td><%= company %></td>
<td><%= employee %></td>

<td><a href="#/<%= id %>">Show</a></td>
<td><a href="#/<%= id %>/edit">Edit</a></td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>
