<p>
  <b>Minutes:</b>
  <%= minutes %>
</p>

<p>
  <b>Rate:</b>
  <%= rate %>
</p>

<p>
  <b>Client:</b>
  <%= client %>
</p>

<p>
  <b>Company:</b>
  <%= company %>
</p>

<p>
  <b>Employee:</b>
  <%= employee %>
</p>


<a href="#/index">Back</a>